# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
kdb3
data
data/**
*.o
*.db
kdb

**/.DS_Store
.idea

share/www/ace/**